<a href="https://colab.research.google.com/github/VARSHITHA-DARMINI/23CSBTB30/blob/main/listtypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Implement basic Datastructures using Numpy and Pandas

In [1]:
lst1=(2,8,1,5,7)
print(lst1)
print(type(lst1))

(2, 8, 1, 5, 7)
<class 'tuple'>

In [2]:
lst2={3,8,9,2}
print(lst2)
print(type(lst2))

{8, 9, 2, 3}
<class 'set'>

In [3]:
lst3=[5,0,2,8]
print(lst3)
print(type(lst3))

[5, 0, 2, 8]
<class 'list'>

In [4]:
lst4={1:"Varshitha",2:"Anushka",3:"Rimbu"}
print(lst4)
print(type(lst4))

{1: 'Varshitha', 2: 'Anushka', 3: 'Rimbu'}
<class 'dict'>

In [5]:
lst5="Welcome to AIML Lab"
print(lst5)
print(type(lst5))

Welcome to AIML Lab
<class 'str'>

In [6]:
lst6=24.89
print(lst6)
print(type(lst6))

24.89
<class 'float'>

In [7]:
lst7=2j+3
print(lst7)
print(type(lst7))

(3+2j)
<class 'complex'>